/*Start Footer*/
.footer {
    background-color: #e2e2e2;
    overflow-x: hidden;
    margin-top: 50px;
    padding-top: 30px;
    .gallery,
    .info,
    .contact {
        float: $float-left;
    }
    .gallery {
        @media #{$minsmall} {
            width: 100%;
        }
        @media #{$minMedium} {
            width: 50%;
        }

        .img-box {
            overflow: hidden;
            margin: 5px 5px 50px 0px;
            img {
                width: 100px;
                height: 100px;
                @media #{$minsmall} {
                    float: $float-left;
                }
            }
            .text {
                @media #{$minsmall} {
                    margin-left: 15px;
                    margin-right: 15px;
                    float: $float-left;
                    width: calc(100% - 130px);
                }
                @media #{$maxMobile} {
                    margin-top: 0px;
                }
                h4 {
                    color: $redcolor;
                    margin: 10px 0px 0px;
                }
                p {
                    margin-top: 5px;
                    line-height: 1.5;
                    color: $seccolor;
                }
            }
        }
    }
    .info {
        color: $seccolor;
        @media #{$minsmall} {
            width: 50%;
        }
        @media #{$minMedium} {
            width: 25%;
        }
        @media #{$maxMobile} {
            width: 100%;
        }
        ul {
            line-height: 2;
            li {
                span {
                    color: $redcolor;
                }
            }
        }
        h4 {
            font-weight: bold;
            margin-bottom: 0px;
        }
        p {
            margin-top: 8px;
        }
    }
    .contact {
        @media #{$minsmall} {
            width: 50%;
        }
        @media #{$minMedium} {
            width: 25%;
        }
        input[type="text"],
        input[type="email"],
        textarea {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            width: 100%;
            border: 1px solid #c9c9c9;
        }

        textarea {
            height: 140px;
        }
    }
    .section-title {
        color: #444;
        font-weight: normal;
    }

    .copyright {
        overflow: hidden;
        color: $seccolor;
        border-top: 1px solid #c5c5c5;
        margin-top: 25px;
        margin-bottom: 10px;
        .copyright-text,
        .copyright-author {
            @media #{$minsmall} {
                padding: 25px 0;
                float: $float-left;
                width: 50%;
            }
            @media #{$maxMobile} {
                padding-top: 10px;
            }
        }
    }
}
/*End Footer*/
