.header {
    border-bottom: 1px solid $greycolor;
    overflow: hidden;
    padding: 20px 50px;
    .logo {
        position: relative;
        @media #{$minsmall} {
            width: 100%;
            float: none;
            text-align: center;
        }
        @media #{$minMedium} {
            float: $float-left;
            width: 30%;
            text-align: $float-left;
        }
        @media #{$maxMobile} {
            .to-toggler {
                top: 15px;
                right: -50px;
            }
        }
        h1 {
            font-size: 25px;
            margin-bottom: 0px;
            margin-top: 10px;
        }
    }
    .navbar {
        overflow: hidden;
        background-color: $redcolor;
        border-radius: 15px;
        @media #{$minsmall} {
            width: 100%;
            float: $float-left;
            display: block !important;
        }
        @media #{$minMedium} {
            width: 70%;
            float: $float-left;
            margin-top: 1em;
        }
        @media #{$maxMobile} {
            display: none;
            border-radius: 0px;
            margin: 0 -60px 0;
        }
        li {
            @media #{$maxMobile} {
                display: block;
                outline: none;
                float: none;
                width: 100%;
                text-align: $text-left;
                padding-left: 10px;
                padding-right: 10px;
                &:not(:last-child) {
                    border-bottom: 1px solid $seccolor;
                }
            }
            font-size: 20px;
            float: left;
            text-align: center;
            width: 20%;
            a {
                padding: 20px 10px;
                display: block;
                color: #fff;
                text: {
                    decoration: none;
                }
                &:hover {
                    color: #dddd;
                }
            }
        }
    }
}
