//media Query
$maxMobile: "(max-width:767px)";
$minsmall: "(min-width:767px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";
//global values
$redcolor: #e2494c;
$greycolor: #9c9c9c;
$seccolor: #888;
$float-left: left;
$float-right: right;

$text-right: right;
$text-left: left;
